<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/material.min.css">
    <script src="../js/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
      body {
        width: 300px;
        height: 448px;
      }
      .page-content #key-values {
        margin: auto;
      }
      .page-content #setting-input {
        width: 49%;
        float: left;
      }
      .page-content #setting {
        width: 49%;
        float: left;
        margin-left: 2%;
        margin-top: 15.5px;
      }
      .page-content #toggleAlarm {
        display: block;
        margin: auto;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Bookmarks Reminder</span>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Home</a>
          <a href="#fixed-tab-2" class="mdl-layout__tab">About</a>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">BR</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="https://github.com/pinetree408/BookmarksReminder" target="_blank">Github</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone">
            <table id="key-values" class="mdl-data-table mdl-js-data-table">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Key</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Total Bookmarks</td>
                  <td id="bookmarksNum"></td>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Alarm Period Setting</td>
                  <td id="setting-value-view"></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone">
            <!-- Numeric Textfield with Floating Label -->
            <form action="#">
              <div id="setting-input" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="setting-value" name="setting" min="15" max="120">
                <label class="mdl-textfield__label" for="setting-value">Minutes...</label>
                <span class="mdl-textfield__error">Input is not valid!</span>
              </div>
            </form>
            <!-- Accent-colored raised button with ripple -->
            <button id="setting" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Setting
            </button>
            </div>
          </div>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone">
              <!-- Accent-colored raised button with ripple -->
              <button id="toggleAlarm" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Button
              </button>
            </div>
          </div>
        </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
          <div class="page-content">
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--4-col-phone mdl-card mdl-shadow--8dp">
                <div class="mdl-card__supporting-text">
                  <h5>What is BookmarksReminder?</h5>
                  This extension gives you a reminder alarm for bookmarks.
                </div>
              </div>
            </div>
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--4-col-phone mdl-card mdl-shadow--8dp">
                <div class="mdl-card__supporting-text">
                  <h5>How to use?</h5>
                  <ol>
                    <li>Set a alarm period for receiving an bookmark alarm</li>
                      <ul>
                        <li>max alarm period : 120 mintues</li>
                        <li>min alarm period : 15 mintues</li>
                      </ul>
                    <li>Push the "activate alarm" button</li>
                    <li>If the "activate alarm" has changed, now you can get a alarm</li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--4-col-phone mdl-card mdl-shadow--8dp">
                <div class="mdl-card__supporting-text">
                  <h5>How to Connect?</h5>
                  <ul>
                    <li>email : pinetree408@gmail.com</li>
                    <li>github : pinetree408/BookmarksReminder</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="../js/develop.js"></script>
    <script src="../js/bookmarks.js"></script>
    <script src="../js/alarm.js"></script>
    <script src="../js/setting.js"></script>
  </body>
</html>
